_auth = YXJ1bmdhbmU6QVA5cWd6VXBKRk1FN28yYUN6M3dINHRTTVd4
email = arungane@cisco.com
always-auth = true

@webex:registry=https://engci-maven.cisco.com/artifactory/api/npm/webex-npm-group/
//engci-maven.cisco.com/artifactory/api/npm/webex-npm-group/:_password=QVA5cWd6VXBKRk1FN28yYUN6M3dINHRTTVd4
//engci-maven.cisco.com/artifactory/api/npm/webex-npm-group/:username=arungane
//engci-maven.cisco.com/artifactory/api/npm/webex-npm-group/:email=arungane@cisco.com
//engci-maven.cisco.com/artifactory/api/npm/webex-npm-group/:always-auth=true